@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);
body::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: Heebo;
  color: #21243D;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
