// Fonts ======================================================================
// &display=swap - Порядок загрузки шрифта
// &subset=scyrillic-ext - Кириллица 
//@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);
// ============================================================================

// Var ========================================================================
$primaryColor: #FF6464;
$secondaryColor: #00A8CC; 
$dark: #21243D;
$light: #8695A4;
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// ============================================================================

// Mixins =====================================================================
@mixin media($size) {
    @media (max-width: $size) {
        @content;
    }
}
// ============================================================================

// Scroll =====================================================================
    body {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
// ============================================================================

// Icon-Fonts =================================================================
//@import "icons";

// ============================================================================

// Defaul-Fonts ===============================================================
// font-family: "fonts";
* {
    font-family: Heebo;
    color: $dark;
}
// ============================================================================

// Reset CSS ==================================================================
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
// ============================================================================
