@import "base.scss";

// Global Style
.container {
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.section-container {
    max-width: 1032px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.button {
    max-width: 208px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: $primaryColor;
    padding: 10px 20px;
    border: 0;
    transition: background .3s ease ;
    &:hover {
        background: #d85454;
    }
}
.section-title {
    font-size: 22px;
    margin-bottom: 32px;
}
// Header
.header {
    display: flex;
    justify-content: flex-end;
    padding: 27px 20px;
    
}
.nav {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
		&__link {
            font-size: 20px;
            font-weight: 500;
            transition: color .2s ease;
            &:hover {
                color: $primaryColor;
            }
            &.active {
                color: $primaryColor;
            }
		}
    @include media($md4) {
        display: none;
        &__link {
            font-size: 30px;
		}
    }
    &.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        position: absolute;
        gap: 10px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }
}
.burger-button {
    display: none;
    width: 30px;
    height: 5px;
    margin: 15px 0;
    background: $dark;
    position: relative;
    border: 0;
    z-index: 2;
    outline: none;
    &:after, &:before {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: $dark;
        position: absolute;
        top: 10px;
        transform-origin: center;
        transition: all .3s ;
    }
    &:before {
        top: -10px;
    }
    @include media($md4) {
        display: block;
    }
    &.active {
        background: transparent;
        &:after, &:before {
            transform: rotate(45deg);
            top: 0px;
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
}

// About 
.about {
    margin-top: 127px;
    margin-bottom: 71px;
		&__title {
            font-size: 44px;
            font-weight: 700;
            line-height: 60px;
		}

		&__text {
            margin: 40px 0;
            font-size: 16px;
            max-width: 500px;
		}
        .row {
            justify-content: space-between;
        }

		&__avatar {
            width: 243px;
            height: 243px;

		}
    @include media($md3) {
        margin-top: 27px;
        margin-bottom: 58px;
        .row {
            flex-direction: column-reverse;
        }
        .column {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__title {
            margin-top: 34px;
        }
        &__text {
            margin: 20px 0;
            text-align: center;
        }
    }
}

// Post
.post {
    background-color: #EDF7FA;
    padding-top: 32px;
    padding-bottom: 32px;
    .row {
        justify-content: space-between;
        gap: 20px;
    }
    @include media($md3) {
        .row {
            flex-direction: column;
            align-items: center;
        }
    }
}
.post-block {
    padding: 24px;
    background: #fff;
    max-width: 418px;
    
    &__title {
        font-size: 26px;
        font-weight: 700;
    }

    &__date {
        padding-right: 30px;
        border-right: 1px solid #000;
    }

    &__tags {
        padding-left: 30px;
    }
    &__tags, &__date {
        font-size: 18px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
    }

    &__text {
        font-size: 16px;
    }
    @include media($md4) {
        padding: 20px;
        &__title {
            font-size: 22px;
        }
    
        &__date {
            padding-right: 20px;
            border-right: 1px solid #000;
        }
    
        &__tags {
            padding-left: 20px;
        }
        &__tags, &__date {
            font-size: 16px;
        }
    
        &__row {
            display: flex;
            flex-direction: row;
            margin: 20px 0;
        }
    }
}

// Work
.work {
    padding-top: 32px;
    padding-bottom: 100px;
    &__title {
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 25px;
    }
}
.work-block {
    margin-bottom: 46px;
		&__img {
            margin-right: 18px;
            height: 180px;
		}

        .column {
            gap: 17px;
        }
		&__title {
            font-size: 30px;
            font-weight: 700;
		}

		&__row {
            display: flex;
            flex-direction: row;
		}

		&__date {
            color: #fff;
            background-color: $dark;
            padding: 0 10px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
		}

		&__theme {
            margin-left: 26px;
            font-size: 20px;
            color: $light;
		}

		&__text {
            max-width: 594px;
            font-size: 16px;
		}

        @include media($md3) {
            display: flex;
            flex-direction: column;
            &__title {
                font-size: 24px;
                margin-top: 17px;
            }
            &__img {
                height: auto;
                max-width: 480px;
                width: 100%;
            }
        }
        @include media($md4) {
            &__theme {
                font-size: 16px;
            }
            &:nth-child(2), &:nth-child(3) {
                display: none;
            }
        }
}

// Footer

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    &__link {
        font-size: 30px;
        color: $dark;
        transition: color .3s ease;
        &:hover {
            color: $primaryColor;
        }
    }

    &__rights {
        margin-top: 26px;
        font-size: 14px;
    }

    .row {
        justify-content: space-between;
    }
}

