@import 'base.scss';
.work-block {
        
        @include media($md4) {
            &__theme {
                font-size: 16px;
            }
            &:nth-child(2), &:nth-child(3) {
                display: block;
            }
        }
}


.work-item {

    &__title {
        font-size: 34px;
        font-weight: bold;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 30px 0px 25px;
    }

    &__date {
        color: #fff;
        background-color: $primaryColor;
        padding: 0 10px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    &__theme {
        font-size: 20px;
    }

    &__text {
        &:first-child {
            margin-bottom: 46px;
        }
    }

    &__heading {
        font-size: 30px;
        font-weight: 500;
    }

    &__sub-heading {
        font-size: 24px;
        font-weight: 500;
        margin: 20px 0 25px;
    }
    &__img {
        margin: 27px 0;
        width: 100%;
        &.first-img {
            margin: 46px 0 54px;
        }
    }

    @include media($md4) {
        &__title {
            font-size: 30px;
        }
        &__theme {
            font-size: 18px;
        }
    
        &__text {
            &:first-child {
                margin-bottom: 46px;
            }
        }
    
        &__heading {
            font-size: 26px;
        }
    
        &__sub-heading {
            font-size: 20px;
            margin: 15px 0 25px;
        }
        &__img {
            margin: 23px 0;
            width: 100%;
            &.first-img {
                margin: 23px 0;
            }
        }
    }
}