@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);
body::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: Heebo;
  color: #21243D;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.blog__title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 25px;
}

@media (max-width: 479.98px) {
  .blog__title {
    font-size: 30px;
    margin-bottom: 0;
  }
}

.blog-block {
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0;
}

.blog-block__title {
  font-size: 30px;
  font-weight: 500;
}

.blog-block__date, .blog-block__tags {
  font-size: 20px;
  margin: 16px 0;
}

.blog-block__tags {
  color: #8695A4;
  padding-left: 20px;
}

.blog-block__date {
  padding-right: 25px;
  border-right: 1px solid #000;
}

@media (max-width: 479.98px) {
  .blog-block {
    padding: 18px 0 24px;
  }
  .blog-block__title {
    font-size: 26px;
  }
  .blog-block__date, .blog-block__tags {
    font-size: 16px;
    margin: 5px 0 16px;
  }
  .blog-block__tags {
    padding-left: 15px;
  }
  .blog-block__date {
    padding-right: 15px;
  }
}
