@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);
body::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: Heebo;
  color: #21243D;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section-container {
  max-width: 1032px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button {
  max-width: 208px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: #FF6464;
  padding: 10px 20px;
  border: 0;
}

.section-title {
  font-size: 22px;
  margin-bottom: 32px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 27px 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 33px;
}

.nav__link {
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.nav__link:hover {
  color: #FF6464;
}

@media (max-width: 479.98px) {
  .nav {
    display: none;
  }
  .nav__link {
    font-size: 30px;
  }
}

.nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  gap: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.burger-button {
  display: none;
  width: 30px;
  height: 5px;
  margin: 15px 0;
  background: #21243D;
  position: relative;
  border: 0;
  z-index: 2;
}

.burger-button:after, .burger-button:before {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background: #21243D;
  position: absolute;
  top: 10px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.burger-button:before {
  top: -10px;
}

@media (max-width: 479.98px) {
  .burger-button {
    display: block;
  }
}

.burger-button.active {
  background: transparent;
}

.burger-button.active:after, .burger-button.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}

.burger-button.active:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about {
  margin-top: 127px;
  margin-bottom: 71px;
}

.about__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

.about__text {
  margin: 40px 0;
  font-size: 16px;
  max-width: 500px;
}

.about .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__avatar {
  width: 243px;
  height: 243px;
}

@media (max-width: 767.98px) {
  .about {
    margin-top: 27px;
    margin-bottom: 58px;
  }
  .about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about__title {
    margin-top: 34px;
  }
  .about__text {
    margin: 20px 0;
    text-align: center;
  }
}

.post {
  background-color: #EDF7FA;
  padding-top: 32px;
  padding-bottom: 32px;
}

.post .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767.98px) {
  .post .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.post-block {
  padding: 24px;
  background: #fff;
  max-width: 418px;
}

.post-block__title {
  font-size: 26px;
  font-weight: 700;
}

.post-block__date {
  padding-right: 30px;
  border-right: 1px solid #000;
}

.post-block__tags {
  padding-left: 30px;
}

.post-block__tags, .post-block__date {
  font-size: 18px;
}

.post-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
}

.post-block__text {
  font-size: 16px;
}

@media (max-width: 479.98px) {
  .post-block {
    padding: 20px;
  }
  .post-block__title {
    font-size: 22px;
  }
  .post-block__date {
    padding-right: 20px;
    border-right: 1px solid #000;
  }
  .post-block__tags {
    padding-left: 20px;
  }
  .post-block__tags, .post-block__date {
    font-size: 16px;
  }
  .post-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 0;
  }
}

.work {
  padding-top: 32px;
  padding-bottom: 100px;
}

.work-block {
  margin-bottom: 46px;
}

.work-block__img {
  margin-right: 18px;
  height: 180px;
}

.work-block .column {
  gap: 17px;
}

.work-block__title {
  font-size: 30px;
  font-weight: 700;
}

.work-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work-block__date {
  color: #fff;
  background-color: #21243D;
  padding: 0 10px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-block__theme {
  margin-left: 26px;
  font-size: 20px;
  color: #8695A4;
}

.work-block__text {
  max-width: 594px;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .work-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-block__title {
    font-size: 24px;
    margin-top: 17px;
  }
  .work-block__img {
    height: auto;
    max-width: 480px;
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .work-block__theme {
    font-size: 16px;
  }
  .work-block:nth-child(2), .work-block:nth-child(3) {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.footer__link {
  font-size: 30px;
  color: #21243D;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.footer__link:hover {
  color: #FF6464;
}

.footer__rights {
  margin-top: 26px;
  font-size: 14px;
}

.footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
