@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900);
body::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: Heebo;
  color: #21243D;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 479.98px) {
  .work-block__theme {
    font-size: 16px;
  }
  .work-block:nth-child(2), .work-block:nth-child(3) {
    display: block;
  }
}

.work-item__title {
  font-size: 34px;
  font-weight: bold;
}

.work-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0px 25px;
}

.work-item__date {
  color: #fff;
  background-color: #FF6464;
  padding: 0 10px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.work-item__theme {
  font-size: 20px;
}

.work-item__text:first-child {
  margin-bottom: 46px;
}

.work-item__heading {
  font-size: 30px;
  font-weight: 500;
}

.work-item__sub-heading {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 25px;
}

.work-item__img {
  margin: 27px 0;
  width: 100%;
}

.work-item__img.first-img {
  margin: 46px 0 54px;
}

@media (max-width: 479.98px) {
  .work-item__title {
    font-size: 30px;
  }
  .work-item__theme {
    font-size: 18px;
  }
  .work-item__text:first-child {
    margin-bottom: 46px;
  }
  .work-item__heading {
    font-size: 26px;
  }
  .work-item__sub-heading {
    font-size: 20px;
    margin: 15px 0 25px;
  }
  .work-item__img {
    margin: 23px 0;
    width: 100%;
  }
  .work-item__img.first-img {
    margin: 23px 0;
  }
}
